/*  your css code here. If applicable */
#animal-photos{
	
	background-color:#444444;
	text-align:center;
	color:white;
	border-left:70px solid #353535;
	border-right:70px solid #353535;
	border-radius:10px;
	height:480px;
	width:600px;
}

#photo-heading{
	padding-top:10px;
}
.container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
   justify-content:space-around; 
	
}
.row{
	display:flex;
	column-gap:5px;
	margin-bottom:10px;
	gap:10px;
}
img{
	width:150px;
	height:120px;
	border-radius:10px;
}
	
